
@keyframes moveDiv {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: calc(100% - 50px);
    }
    50% {
      top: calc(100% - 50px);
      left: calc(100% - 50px);
    }
    75% {
      top: calc(100% - 50px);
      left: 0;
    }
    100% {
      top: 0;
      left: 0;
    }
  }

  /* .filter{
    filter: blur(90px);
    filter: brightness(20%);
    opacity: 0.7;
    backdrop-filter: blur(50px);
  } */